body{
    font-family: sans-serif;
    background: url(../media/BG2.png);
    background-color: purple;     background-repeat: none;
    color: white;
    margin: 0;
    background-attachment: fixed;
    background-size: 100% 40% ;
}

header{
    
	margin-top: 0%;
    text-align: center;
}

.header{
    font-size: 450%;
}

#black{
    margin-top: 20%;

    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    background-color: black;
}

#mainblock{
    min-height: 50%;
    background-color: white;
    color: black;
    margin: 0 10%;
    padding-bottom: 50%;
    text-align: center;  
    overflow: hidden;
}
