body {
    margin: 5% 7%;
    background-color: #A07429;
  }
  
  main {
    overflow: hidden;
    background-color: #F2C473;
    border: 2px solid black;
    border-radius: 80px;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 6vw;
    padding-right: 11vw;    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .item {
    margin-left: 5vw;
    min-width: 250px;
    max-width: 320px;
    width: 100%;
    float: left;
    vertical-align: middle;
    background: #543E18;
    text-align: center;
    color: white;
    font-size: 200%;
    margin-bottom: 10%;
    display: inline-block;
  }
  
  img.itemimg {
    width: 90%;
    margin: 5%;
  }