* {
  font-style: arial;
}


body {
  background-color: #F2F2F2;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  float: left;
}

li a {
    display: block;
    color: #F2F2F2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
}

article {
  font-size: 15px;
  font-weight: bold;
}

.pittig {
  position: absolute; top: 160px; left: 600px;
  }

.cheese {
  position: absolute; top: 100px; left: 600px;
}

.stroganoff {
  position: absolute; top: 120px; left: 600px;
}
