body {
    background-color: #d2d2ff;
    text-align: center;
    font-family: "Arial"
}

h2.bereidentitel {
	size: 100%;
}


img.biet {
	margin: center;
	width: 100%;
	height: 100%;
}

p.groot {
	font-size: 100px;
}

.lijstje {
	text-align: center;
	margin-left: 20px;
}

span.lijst {
	display: block;
	height: 100;
}