body {
    background-color: #d2d2ff;
    text-align: center;
    font-family: "Arial"
}

h2.bereidentitel {
	size: 100%;
}


img.biet {
	margin: center;
	width: 100%;
	height: 100%;
}

tr {
	background-color: #ffff99;
}

p.groot {
	font-size: 100px;
}

.lijstje {
	background-color: #ffff99;
	text-align: center;
	margin-left: 20px;
}

table {
	align-self: center;
}