html, body {
	overflow-x: hidden;
	overflow-y: scroll;
}

img.img-header {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   width: 100%;
   max-height: 100%;
   margin: auto;
   overflow: auto;
}

div.main-text {
	font-size: 30px;
	text-align: center;
	position: absolute;
	line-height: 20px;
	right: 220px;
	top:540px;
	font-family: "Source Sans Pro Semibold", Source, serif;
	overflow-x: hidden;
}

div.middenblok {
	margin-top: 750px;
	font-size: 25px;
	position: absolute;
	list-style: none;
	font-family: "Source Sans Pro Semibold", Source, serif;
}

div.header-steps {
	margin-top: 758px;
	font-size: 20px;
	position: absolute;
    margin-left: 440px;
	list-style: none;
	font-family: "Source Sans Pro Semibold", Source, serif;
}

ol.steps {
	margin-top: 850px;
	font-size: 19px;
	position: absolute;
    margin-left: 400px;
	list-style: none;
	font-family: "Source Sans Pro Semibold", Source, serif;
}

li {
   counter-increment: item;
   margin-bottom: 5px;
}
 
li:before {
   margin-right: 10px;
   content: counter(item);
   background: lightgray;
   border-radius: 100%;
   color: black;
   width: 1.2em;
   text-align: center;
   display: inline-block;
   font-size: 120%;
}

img.grayblock {
   position: absolute;
   margin-top: 1200px;
   left: 0;
   right: 0;
   width: 100%;
   max-height: 60%;
   overflow: auto;
}

h2.grayblock-header-text {
	font-size: 32px;
	position: absolute;
	line-height: 40px;
	margin-left: 650px;
	margin-top: 1220px;
	font-family: "Source Sans Pro Semibold", Source, serif;
	overflow-x: hidden;
}

h2.grayblock-text {
	font-size: 28px;
	position: absolute;
	line-height: 40px;
	margin-left: 650px;
	margin-top: 1280px;
	font-family: "Source Sans Pro Semibold", Source, serif;
}

img.keukenfoto {
   position: absolute;
   bottom: -100;
   left: 0;
   right: 1050px;
   max-width: 50%;
   max-height: 50%;
   margin-top: 1250px;
   overflow: auto;
}

div.contact {
	font-size: 28px;
	position: absolute;
	line-height: 15px;
	margin-left: 650px;
	margin-top: 1500px;
	font-family: "Source Sans Pro Semibold", Source, serif;
}