h1{
	width: 100%;
	text-align: center;
}

img {
	width: 45%; 
	margin-left: 30%;
	height: 450px; 
}  

body {
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Flag_of_Suriname.svg/1200px-Flag_of_Suriname.svg.png");
    background-attachment: fixed; 
    background-size: 75%;
    background-position: center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 }

.roti {
	background-color: rgba(255,255,255, 0.7);
	width: 80%;
	margin-left: 10%;
	margin-right:10%;
	font-size: 22px;
	padding: 10px; 
	border: 5px solid #000;
	background-image: no-repeat;
} 