img.topHeader {
	text-align: center;
	width: 100%;
}

html, body {
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	color: rgb(33, 33, 33);
}

div.recipeInfo {
	position: absolute;
   	top: 30%;
   	left: 10%;
   	padding: 10px;
   	padding-right: 40px;
  	background-color: rgba(255, 255, 255, 0.7);
}

#homeBanner {
	position: relative; 
}

.recipeTitle {
	margin-left: 10%;
}

div.recipeInfoPanel {
	position: relative;
}

div.divLeft {
	position: relative;
	float: left;
}

div.divRight {
	position: relative;
	float: right;
	margin-right: 50%;
}